RPC_URL=https://sepolia.infura.io/v3/YOUR_INFURA_PROJECT_ID
PRIVATE_KEY=your_wallet_private_key_without_0x
ORACLE_ADDRESS=0x_your_oracle_contract_address
PORT=5000
MONGO_URI=mongodb://localhost:27017/agrichain
CONTRACT_ADDRESS=0x_your_deployed_contract_address
ORACLE_PRIVATE_KEY=your_oracle_private_key
WEATHER_API_URL=https://archive-api.open-meteo.com/v1/archive
VITE_RPC_URL=https://sepolia.infura.io/v3/YOUR_INFURA_PROJECT_ID
VITE_CONTRACT_ADDRESS=0x_your_deployed_contract_address
VITE_BACKEND_URL=http://localhost:5000
VITE_FIREBASE_API_KEY=your_firebase_api_key
VITE_FIREBASE_AUTH_DOMAIN=your_project_id.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://your_project_id.firebasedatabase.app
VITE_FIREBASE_PROJECT_ID=your_project_id
VITE_FIREBASE_STORAGE_BUCKET=your_project_id.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=your_sender_id
VITE_FIREBASE_APP_ID=your_app_id
VITE_FIREBASE_MEASUREMENT_ID=G-XXXXXXXXXX
RESEND_API_KEY=re_your_api_key_here
KICKBOX_API_KEY=your_kickbox_api_key_here
