RPC_URL=https://sepolia.infura.io/v3/YOUR_INFURA_KEY
PRIVATE_KEY=YOUR_PRIVATE_KEY_HERE
ORACLE_ADDRESS=YOUR_ORACLE_ADDRESS
PORT=5000
MONGO_URI=YOUR_MONGO_URI
CONTRACT_ADDRESS=YOUR_CONTRACT_ADDRESS
VITE_RPC_URL=https://sepolia.infura.io/v3/YOUR_INFURA_KEY
VITE_CONTRACT_ADDRESS=YOUR_CONTRACT_ADDRESS