# Blockchain
RPC_URL=https://sepolia.infura.io/v3/YOUR_INFURA_KEY
PRIVATE_KEY=YOUR_PRIVATE_KEY
ORACLE_ADDRESS=YOUR_ORACLE_CONTRACT_ADDRESS

# Backend
PORT=5000
MONGO_URI=mongodb://localhost:27017/agrichain
CONTRACT_ADDRESS=YOUR_DEPLOYED_CONTRACT_ADDRESS

# Oracle Service
ORACLE_PRIVATE_KEY=YOUR_ORACLE_PRIVATE_KEY
WEATHER_API_URL=https://archive-api.open-meteo.com/v1/archive

# Frontend
VITE_RPC_URL=https://sepolia.infura.io/v3/YOUR_INFURA_KEY
VITE_CONTRACT_ADDRESS=YOUR_DEPLOYED_CONTRACT_ADDRESS
VITE_BACKEND_URL=http://localhost:5000

# Firebase Configuration
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_DATABASE_URL=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=1:
VITE_FIREBASE_MEASUREMENT_ID=
